<% content_for :title do %>
<%= t(:whats_up_future, :scope => 'helpers.events', :area => @current_area.name) %>
<% end %>

<% content_for :description do %>
Partys &amp; Konzerte - Ausgehen im Nachtleben von <%= @current_area.name %>. Wir zeigen dir auf www.wgha.de wohin man abends ausgehen kann.
<% end %>

<% content_for :facebook_property do %>
<meta content="website" property="og:type"/>
<meta content='<%= t(:whats_up_future, :scope => 'helpers.events', :area => @current_area.name) %>' property='og:title'>
<meta content='was geht heute ab' property='og:site_name'>
<meta content='<%= future_events_url %>' property='og:url'>
<meta content='Wir zeigen dir auf www.wgha.de wohin man abends ausgehen kann.
' property='og:description'>
<meta content='<%= image_url 'wgha.de.png' %>' property='og:image'>
<meta property="og:image:type" content="image/png">
<meta property="og:updated_time" content="<%= (Time.zone.now.beginning_of_day + 8.hours).iso8601 %>">
<% end %>

<% content_for :hreflang do %>
<link rel="alternate" href="<%= future_events_url %>" hreflang="de-de" />
<% end %>

<% if @events.blank? %>

<%= render "partials/empty_state", :empty_state_title => "Noch ist nichts f체r #{@current_area.name} eingetragen. Schaue einfach sp채ter nochmals vorbei!" %>

<% else %>

<div class="offset"></div>
<div class="light-wrapper page-title">
  <div class="container inner">
    <h1>Was geht demn&auml;chst in <%= @current_area.name %>?</h1>
    <div class="collapse navbar-collapse pull-right">
    </div>
  </div>
</div>

<div class="dark-wrapper">
  <div class="container inner">
    <div class="portfolio">
      <ul class="filter">
        <li><a class="active" href="#" data-filter="*">Alle Tage</a></li>
        <li><a href="#" data-filter=".weekend">Nur Wochenenden</a></li>
        <li><a href="#" data-filter=".next-week">N&auml;chste Woche</a></li>
      </ul>
      <!-- /.filter -->
      <ul class="items col4">
        <% @events.each do |event|  %>
        <li class="item <%= portfolio_filter(event.first) %>">
          <a href="<%= future_event_url(date: event.first.strftime("%d.%m.%Y")) %>">
            <div class="image-caption">
              <h3><%= I18n.localize(Date.parse(event.first.to_s), :format => :index) %></h3>
              <span class="meta"><%= event.second == 1 ? "#{event.second} Party" : "#{event.second} Partys" %></span>
            </div>
          </a>
        </li>
        <% end %>
      </ul>
    </div>
    <!-- /.portfolio -->
  </div>
  <!-- /.container -->
</div>
<!-- /.dark-wrapper -->

<% end %>
<script type="application/ld+json">
{
  "@context":"http://schema.org",
  "@type":"BreadcrumbList",
  "itemListElement":[
  {"item":{"@id":"<%= root_url(area: nil) %>","name":"<%= "Alle St채dte" %> "},"@type":"ListItem","position":1},
  {"item":{"@id":"<%= events_url(area: @current_area.domain) %>","name":"<%= @current_area.name %>"},"@type":"ListItem","position":2},
  {"item":{"@id":"<%= future_events_url(area: @current_area.domain) %>","name":"Demn채chst"},"@type":"ListItem","position":3},
  ]}
  </script>
